body {
  font-family: Arial;
}
.todo-grid,
.todo-input {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input {
  margin-bottom: 20px;
}
.name-input,
.due-date-iput {
  font-size: 15px;
  padding: 10px;
}
.add-todo-butt {
  padding: 15px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: rgb(47, 176, 47);
  cursor: pointer;
}
#delete-todo-button {
  padding: 7px;
  font-size: 15px;
  color: #f3eeee;
  border-radius: 5px;
  border: none;
  background-color: #ff0000;
  cursor: pointer;
}
